@import "../../global";
@import "../../mixins";

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .skip-link {
    position: absolute;
    padding: 0.5rem 1rem;
    z-index: 1;
    top: 10rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0.25rem;
    font-size: inherit;
    color: var(--clr-primary);
    transform: translateY(-15rem);

    &:focus {
      transform: translateY(0);
    }
  }

  .body-container {
    h1 {
      font-weight: 400;

      &:nth-child(2) {
        font-weight: 200;
        color: var(--clr-accent-1);
        position: relative;
      }

      &:nth-child(2)::after {
        content: "";
        position: absolute;
        border: 1px solid $clr-accent-3;
        width: 20%;
        left: 0;
        top: 100%;
      }
    }

    .smile-icon {
      max-width: unquote("max(4.5vw, 2.5rem)");
      aspect-ratio: 1;
      margin-inline: unquote("max(2vw, 1rem)");
      transform: translateY(unquote("clamp(.6rem, .8vw, 2.625rem)"));
      filter: var(--clr-img);
    }

    .social-container {
      opacity: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      transform: translateY(3rem);

      .social-text {
        font-size: unquote("clamp(1.3125rem, 4.5vw - 1rem, 1.625rem)");
        padding-right: unquote("max(2vw, 1rem)");
      }

      .social-link {
        color: $clr-accent-3;
        font-size: unquote("clamp(2.2125rem, 5vw - .5rem, 2.625rem)");
        margin-inline: 0.6rem;
        opacity: 1;
      }
    }

    .titles-wrapper {
      transform: translateY(unquote("clamp(3em, 10vw - 1em, 4em)"));

      ul {
        display: flex;
        flex-wrap: wrap;
        max-width: unquote("clamp(8.5em, (100% - 30em) * 1000, 32em)");
        column-gap: 1em;
        row-gap: 0.2em;

        li {
          overflow: hidden;
          white-space: nowrap;
          max-width: fit-content;
          position: relative;
          padding-right: 0.1em;
          transform: translateX(-100vw);
          &:nth-child(even) {
            color: var(--clr-accent-2);
          }
        }

        .li-1 {
          @include text-animation(anim-li-1, 0);
          animation: anim-li-1 350ms 4000ms linear forwards;
        }

        .li-2 {
          @include text-animation(anim-li-2, 0);
          animation: anim-li-2 350ms 4350ms linear forwards;
        }

        .li-3 {
          @include text-animation(anim-li-3, 0);
          animation: anim-li-3 350ms 4700ms linear forwards;
        }

        .li-4 {
          @include text-animation(anim-li-4, 0);
          animation: anim-li-4 350ms 5050ms linear forwards;
        }
      }
    }
  }

  .fade-in {
    opacity: 0;
    animation: textFadeIn 250ms 3000ms forwards;
    @keyframes textFadeIn {
      100% {
        opacity: 1;
      }
    }
  }

  .scroll {
    padding-top: 4.375rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    z-index: 1;
    display: inline-block;
    transform: translate(-50%, 5%);
    color: var(--clr-primary);
    letter-spacing: 0.02em;
    font-weight: 300;
    text-decoration: none;

    & span {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -0.65rem;
      border-left: 0.125rem solid var(--clr-primary);
      border-bottom: 0.125rem solid var(--clr-primary);
      transform: rotate(-45deg) translate(0, 0);
      animation: movement 1500ms 10000ms infinite;
      @keyframes movement {
        50% {
          opacity: 1;
        }
        100% {
          transform: rotate(-45deg) translate(-1.5rem, 1.5rem);
        }
      }
    }
  }

  .scroll-fade-in {
    opacity: 0;
    animation: textFadeIn 750ms 10000ms forwards;
    @keyframes textFadeIn {
      100% {
        opacity: 1;
      }
    }
  }
}
