@import "../../global";

.navbar {
  position: fixed;
  overflow: hidden;
  width: 90vw;
  z-index: 2;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  a {
    font-size: 0;
  }
  ul {
    display: flex;

    li:first-of-type {
      padding-right: 2rem;
    }

    li a {
      font-weight: 300;
      font-size: 1.3rem;
      letter-spacing: 0.05rem;
      display: block;
      margin-inline: 1rem;
      color: $clr-primary;
      transition: color 0.3s;

      &:hover,
      &:focus,
      &:active {
        color: $clr-accent-2;
      }

      i {
        color: $clr-primary;
        font-size: 1.465rem;
        padding-right: 0.8rem;
      }
    }
  }
}
