@import "../../variables";

.navbar {
  position: fixed;
  min-width: 90vw;
  z-index: 2;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  nav {
    display: flex;
    flex-direction: row;
  }

  .logo {
    filter: var(--clr-img);
  }

  .skip-link {
    position: absolute;
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0.25rem;
    font-size: inherit;
    left: 50%;
    transform: translateX(-50%);
    color: var(--clr-primary);
    transform: translate3d(0, -250%, 0);

    &:focus {
      transform: translate3d(-50%, 0, 0);
    }
  }

  a {
    font-size: 0;
  }
  ul {
    display: flex;

    li {
      padding-right: 2rem;
    }

    li a {
      font-size: inherit;
      letter-spacing: 0.05rem;
      display: block;
      margin-inline: 1rem;
      color: var(--clr-primary);
      transition: color 0.3s;

      &:hover,
      &:focus,
      &:active {
        color: var(--clr-accent-2);
      }

      i {
        color: var(--clr-primary);
        font-size: 1.465rem;
        padding-right: 0.8rem;
      }
    }
  }
}
