@import "../../mixins";
@import "../../global";

.container-toggle {
  display: flex;
}

.toggle-checkbox {
  opacity: 0;
  margin-left: -0.85rem;

  &:focus-visible + .toggle-label {
    outline: dotted 0.1rem var(--clr-primary);
    @include screen(small) {
      outline: dotted 0.1rem var(--clr-primary);
    }
  }

  &:checked + .toggle-label {
    &:before {
      background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg preserveAspectRatio='none' version='1.1' viewBox='37 70.5 42 42' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23e3e300' stroke-linecap='round' stroke-width='2.5'%3E%3Ccircle cx='57.835' cy='90.844' r='10.583' fill='%23e3e300' stroke-width='.26458'/%3E%3Cpath d='m57.85 77.629-0.04519-5.3603'/%3E%3Cpath d='m77.27 90.77-5.3604-0.03901'/%3E%3Cpath d='m75.628 100.03-4.7966-2.3933'/%3E%3Cpath d='m68.869 107.36-3.1873-4.31'/%3E%3Cpath d='m57.901 110.36 0.039-5.3604'/%3E%3Cpath d='m50.547 103.28-3.1142 4.3632'/%3E%3Cpath d='m45.499 97.933-4.7556 2.4738'/%3E%3Cpath d='m44.174 90.568-5.3386 0.04697'/%3E%3Cpath d='m65.276 79.244 2.4682-4.1123'/%3E%3Cpath d='m50.433 79.603-2.5454-4.109'/%3E%3Cpath d='m70.091 83.942 4.0661-2.5436'/%3E%3Cpath d='m41.66 81.436 4.1123 2.4682'/%3E%3C/g%3E%3C/svg%3E%0A")
        center / cover no-repeat;
      animation: sun 350ms forwards;
      @keyframes sun {
        0% {
          transform: translateX(0rem);
        }
        100% {
          transform: translateX(2.2rem);
        }
      }
    }
  }
}

.toggle-label {
  cursor: pointer;
  position: relative;
  width: 4.5rem;
  height: 2.4rem;
  transform: translateZ(0);
  border: 0.1rem solid var(--br-themetoggle);
  border-radius: 100vw;

  &:before {
    position: absolute;
    content: "";
    width: 2rem;
    height: 2rem;
    top: 0.1075rem;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='9.5mm' height='9.2mm' preserveAspectRatio='none' version='1.1' viewBox='48 74 35.906 34.772' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(.9888 0 0 .9888 -11.272 -12.488)'%3E%3Cpath d='m95.18 104.7a16.933 16.933 0 0 1-16.933 16.933 16.933 16.933 0 0 1-16.933-16.933 16.933 16.933 0 0 1 16.933-16.933 16.933 16.933 0 0 1 16.933 16.933z'/%3E%3C/g%3E%3Cpath d='m75.151 105.12c-2.7019 1.7365-5.9119 2.6716-9.1236 2.6579-3.2117-0.0137-6.4137-0.97614-9.1007-2.7356-2.687-1.7594-4.8494-4.3094-6.1461-7.2478-1.2967-2.9384-1.723-6.2545-1.2116-9.4253 0.62682-3.8869 2.6762-7.5284 5.6736-10.081 2.9974-2.5528 6.9187-3.9964 10.856-3.9964-2.1761 2.2872-3.7539 5.1387-4.5358 8.1973s-0.76612 6.3175 0.04537 9.3684c0.85228 3.2043 2.5819 6.1705 4.9509 8.4904 2.3689 2.3199 5.3707 3.9872 8.5921 4.7722z' fill='%23fff'/%3E%3C/svg%3E%0A")
      center / cover no-repeat;
    animation: moon 350ms forwards;
    @keyframes moon {
      0% {
        transform: translateX(2.2rem);
      }
      100% {
        transform: translateX(0.15rem);
      }
    }
  }
}
