$ff-primary: "Roboto", sans-serif;
$ff-accent: "Roboto", sans-serif;
$clr-primary: hsl(0, 0%, 100%);
$clr-accent-1: hsl(0, 0%, 90%);
$clr-accent-2: hsl(270, 100%, 65%);
$clr-accent-3: hsl(270, 100%, 40%);
$clr-accent-4: hsl(270, 100%, 30%);
$clr-accent-5: hsl(270, 100%, 20%);
