@mixin screen($scr) {
  @if $scr==small {
    @media (max-width: 60em) {
      @content;
    }
  }
  @if $scr==large {
    @media (min-width: 60em) {
      @content;
    }
  }
}

@mixin writer($name, $width) {
  @keyframes #{$name} {
    100% {
      width: $width;
      visibility: visible;
    }
  }
}

@mixin caret-move($name, $to) {
  @keyframes #{$name} {
    100% {
      transform: translateX($to);
      visibility: hidden;
    }
  }
}
