@import "global";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #310046 #c7c7c7;
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: #c7c7c7;
}
::-webkit-scrollbar-thumb {
  background: #310046;
}

body {
  overflow-y: scroll;
  margin-inline: auto;
  height: 100vh;
  width: unquote("max(90vw, 24.5rem)");
  opacity: 0;
  font-family: $ff-primary;
  color: $clr-primary;
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.6;
  animation: fadeIn 3000ms forwards;
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    background: linear-gradient(
        180deg,
        hsl(170, 100%, 3%),
        hsl(170, 100%, 8%),
        hsl(170, 100%, 13.5%) 84%,
        hsl(170, 100%, 10%) 86%,
        hsl(170, 100%, 4%)
      )
      center / cover no-repeat;

    & .stars-layer {
      height: 85%;
      width: 100%;
      z-index: -9000;
      background: url(./img/stars.svg) center / cover no-repeat;
    }
    .blink-wrapper {
      display: flex;
      justify-content: space-evenly;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;

      & .blink-layer {
        width: 3%;
        border-radius: 50%;
        z-index: 1;
        animation: blink 40000ms linear infinite;
        background: linear-gradient(
            180deg,
            hsl(170, 100%, 3%),
            hsl(170, 100%, 8%),
            hsl(170, 100%, 13.5%) 84%,
            hsl(170, 100%, 10%) 86%,
            hsl(170, 100%, 4%)
          )
          0% 0% repeat;
        @keyframes blink {
          0% {
            transform: translateX(300%);
          }
          50% {
            transform: translateX(-300%);
          }
          100% {
            transform: translateX(300%);
          }
        }
      }
    }
  }
}

* > .body-container {
  width: unquote("max(60%, 24.5rem)");
}

h1 {
  font-size: unquote("clamp(2.625rem, 5vw, 6.625rem)");
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:focus {
    outline: 1px dotted $clr-primary;
  }
}

@media (hover: hover) {
  [data-tooltip]:before {
    content: attr(data-tooltip);
    font-size: 1.325rem;
    position: absolute;
    opacity: 0;
    transition: opacity 200ms 200ms ease-out;

    padding: 0.2rem 0.8rem;
    color: $clr-primary;
    pointer-events: none;
    margin: -1.5rem 0 0 1.5rem;
    background: $clr-accent-5;
  }
  [data-tooltip]:hover:before {
    opacity: 1;
    transition: opacity 200ms 1000ms ease-in;
  }
}
