.light-theme {
  --clr-primary: hsl(0, 0%, 15%);
  --clr-bg: hsl(0, 0%, 95%);
  --bg-filter: blur(10rem) saturate(4);
  --bg-mobilenav: hsla(0, 0%, 85%, 0.95);
  --clr-accent-1: hsl(0, 0%, 20%);
  --clr-accent-2: hsl(270, 100%, 50%);
  --br-themetoggle: hsla(0, 0%, 0%, 0.35);
  --clr-img: invert(85%);
  --display: none;
}

.dark-theme {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-bg: hsl(270, 100%, 6%);
  --bg-filter: blur(10rem) saturate(4) brightness(70%);
  --bg-mobilenav: hsl(0, 0%, 15%, 0.95);
  --clr-accent-1: hsl(0, 0%, 90%);
  --clr-accent-2: hsl(270, 100%, 55%);
  --br-themetoggle: hsla(0, 0%, 100%, 0.35);
  --clr-img: invert(0%);
  --display: flex;
}
