.light-theme {
  --clr-primary: hsl(0, 0%, 15%);
  --clr-bg: hsl(0, 0%, 100%);
  --clr-accent-1: hsl(0, 0%, 20%);
  --clr-accent-2: hsl(270, 100%, 50%);
  --br-themetoggle: hsla(0, 0%, 0%, 0.35);
  --clr-img: invert(85%);
  --clr-imgshadow: hsla(0, 0%, 0%, 0.5);
  --bg-gradient: linear-gradient(
      180deg,
      hsl(190, 30%, 60%),
      hsl(190, 30%, 80%),
      hsl(0, 0%, 95%) 84%,
      hsl(0, 0%, 86%) 86%,
      hsl(0, 0%, 68%)
    )
    center / cover no-repeat;
  --display: none;
}

.dark-theme {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-bg: hsl(0, 0%, 15%);
  --clr-accent-1: hsl(0, 0%, 90%);
  --clr-accent-2: hsl(270, 100%, 65%);
  --br-themetoggle: hsla(0, 0%, 100%, 0.35);
  --clr-img: invert(0%);
  --clr-imgshadow: hsla(0, 0%, 100%, 0.5);
  --bg-gradient: linear-gradient(
      180deg,
      hsl(170, 100%, 3%),
      hsl(170, 100%, 8%),
      hsl(170, 100%, 13.5%) 84%,
      hsl(170, 100%, 10%) 86%,
      hsl(170, 100%, 4%)
    )
    center / cover no-repeat;
  --display: flex;
}
